<div class="line-numbers"></div>

<header>
    <a href="/" class="logo">// cubio_studios <div id="web_logo"><br>web_dev</div></a>
    <ul>
        
        <a class="active" href="index.html"><li>_home</li></a>
        <a href="about.html"><li>_about</li></a>
        <a href="projects.html"><li>_projects</li></a>
        <a href="contact.html"><li>_contact</li></a>
    </ul>
</header>