<%- include('partials/header') %>

    <h3 id="welcome">"<span id="welcome_text">Hi, I'm Samuel, A...</span>"</h3>

    <div class="web_fancy_text">
        <h1 style="font-weight: normal;">{" <span id="fancy_text">_front-end developer</span> "}</h1>
    </div>

<%- include('partials/footer') %>