<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link type="text/css" rel="stylesheet" href="styles/styles.css">
</head>
<body>
    
    <%- include('partials/header'); %>

    <h3 id="welcome">"<span id="welcome_text">Hi, I'm Samuel, A...</span>"</h3>

    <div class="web_fancy_text">
        <h1 style="font-weight: normal;">{" <span id="fancy_text">_front-end developer</span> "}</h1>
    </div>
    
    <script>
        const words = ["_front-end developer", "_back-end developer", "_full-stack engineer", "_web designer"];
    </script>


<script src="/scripts/animation.js" defer></script>
<script src="/scripts/numbers.js"></script>
<script src="/scripts/index.js"></script>    
</body>
</html>