<%- include('partials/header') %>

    <div class="web_fancy_text">
        <h1 style="font-weight: normal;">{" <span id="fancy_text">_my_projects</span> "}</h1>
    </div>

    <script>
        const words = ["_my_projects"];
    </script>

<%- include('partials/footer') %>